@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('/iconFont/youshebiaotihei.ttf') format('truetype'); /* 根据你的字体文件格式调整format */
}

.CTScreenWrapper {
  height: 100vh;
  width: 100vw;
  // min-width: 93.75rem;
  overflow: auto;
  color: #fff;
  position: relative;
  // background: url(/ctHomeDataScreen/bg.png) no-repeat;
  // background-color: #030a22;
  // background-size: cover;
  // background: url(/StandardScreen/bg.jpg) no-repeat !important;
  // background-size: cover !important;

  td.bg_white {
    background-color: #fff;
  }
  p {
    margin-bottom: 0;
  }

  /*滚动条轨道颜色*/
  @scrollbar-track-color: #021e39;
  /*滚动条颜色*/
  @scrollbar-thumb-color: #305090;
  /*滚动条大小*/
  @scrollbar-width: 0.5625rem;

  ::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
  }

  ::-webkit-scrollbar {
    width: @scrollbar-width;
    height: 0.5625rem;
  }

  ::-webkit-scrollbar-track {
    border-radius: 0.625rem;
    background-color: @scrollbar-track-color;
  }

  ::-webkit-scrollbar-thumb {
    height: 3.125rem;
    background-color: @scrollbar-thumb-color;
    -webkit-border-radius: 0.25rem;
    outline-offset: -0.125rem;
    border: 0.125rem solid @scrollbar-thumb-color;
  }

  ::-webkit-scrollbar-thumb:hover {
    height: 3.125rem;
    background-color: @scrollbar-thumb-color;
    -webkit-border-radius: 0.25rem;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :global {
    .ant-spin-nested-loading,
    .ant-spin-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .antd-pro-pages-system-dashboard-styles-dashboardPageWrapper {
      background: url(/StandardScreen/bg.jpg) no-repeat !important;
    }
  }
  main {
    padding: 0.625rem;
    height: calc(100% - 3.75rem);
    overflow: auto;

    .contentWrapper {
      height: calc(100vh - 6.25rem);
    }

    // & > div {
    //   height: 100%;
    // }

    .boxWrapper {
      height: 100%;
      display: flex;
      flex-direction: column;

      .headerWrapper {
        margin-top: 0.25rem;
        padding-left: 2rem;
        height: 2.3125rem;
        background: url(/currencyResOver/btbk.png);
        background-size: 100% 100%;
        font-size: 1rem;

        .title {
          color: #fff;
          font-weight: 500;
          width: calc(100% - 8.75rem);
        }

        .extra {
          position: absolute;
          right: 1.625rem;
          top: 0.5rem;
          :global {
            .ant-radio-button-wrapper {
              background: #021235;
              color: #70a7ff;
              border-color: #1a65e1;
              font-weight: bold;
              border-radius: 0;
              height: 1.625rem;
              line-height: 1.5rem;
              padding: 0 0.625rem;
            }
            .ant-radio-button-wrapper-checked {
              background-color: #1d70f5;
              font-weight: bold;
              color: #fff;
            }
            .ant-radio-button-wrapper:not(:first-child)::before {
              background: #1a65e1;
            }
          }
        }
      }

      .boxContent {
        padding: 0 1rem;
        flex: 1;
        background-color: #051031;
      }
    }

    .echartsTitle {
      text-align: center;
      margin-top: -1.125rem;
      font-weight: bold;
      // font-size: .9375rem;
    }

    // 设备信息总览
    .DeviceInfoCountWrapper {
      height: 100%;
      cursor: pointer;
      // p {
      //   width: 6.25rem;
      //   text-align: center;
      // }
      // .text {
      //   color: #d1e4ff;
      //   background: url(/ctHomeDataScreen/text_bg.png) no-repeat;
      //   background-size: 100%;
      //   background-position-y: .375rem;
      //   line-height: 1.625rem;
      //   font-weight: 500;
      // }

      // .number {
      //   font-family: 'YouSheBiaoTiHei';
      //   font-size: 1.25rem;
      // }
    }

    // 项目执行情况
    .ProjectExecutionWrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      .content {
        flex: 1;
      }
      // & > div {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      // }
      // .number {
      //   background: url(/ctHomeDataScreen/circle.png);
      //   text-align: center;
      //   width: 7.5rem;
      //   height: 7.5rem;
      //   line-height: 7.5rem;
      //   font-size: 1.625rem;
      // }
      // p {
      //   text-align: center;
      //   margin-top: .625rem;
      //   font-weight: 500;
      // }
    }

    // 服务报告及时合格率
    .TimelyPassRateWrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 2.5rem 1.25rem;
      align-items: center;
      justify-content: space-around;
    }

    // 服务响应及时率
    .ServiceResponseRateWrapper {
      display: flex;
      flex-direction: row;
      align-items: end;
      position: relative;
      .center {
        flex-direction: column;
      }
      & > div {
        background: url(/ctHomeDataScreen/ServiceResponseRate_2.png) no-repeat;
        background-size: 100%;
        text-align: center;
        .count {
          font-family: 'YouSheBiaoTiHei';
          font-size: 1.5rem;
          margin-top: -0.375rem;

          span {
            font-size: 1rem;
          }
        }

        .text {
          font-size: 0.8125rem;
          margin-top: -0.375rem;
        }
      }
    }

    // 客户满意度
    .CustomerSatisfactionWrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 1.25rem;
      .itemBox {
        background-color: #1d314c;
        display: flex;
        justify-content: space-between;
        padding: 0.375rem 0.625rem;
        align-items: center;
        font-weight: 500;
        font-size: 0.875rem;

        .rate {
          color: #2dffeb;
          font-size: 1.375rem;
        }
      }
      // .statisticsNum {
      //   background: url(/ctHomeDataScreen/customer.png);
      //   background-size: 100% 100%;
      //   line-height: 2.875rem;
      //   padding: 0 1.25rem;
      //   margin-top: .625rem;
      //   .text {
      //     margin-left: 2.5rem;
      //     font-weight: 500;
      //   }

      //   .number {
      //     font-family: 'YouSheBiaoTiHei';
      //     float: right;
      //     background: linear-gradient(to top, #1ca1ff, #fff);
      //     -webkit-background-clip: text;
      //     -webkit-text-fill-color: transparent;
      //     font-size: 1.125rem;
      //   }
      // }
      // .echartsContent {
      //   flex: 1;
      //   align-items: center;
      // }
    }

    // 设备运行完好率
    .EquipUptimeRateWrapper {
      height: 100%;
      display: flex;
      align-items: center;
      .rate {
        height: 11.25rem;
        width: 100%;
        background: url(/ctHomeDataScreen/good.png) center center no-repeat;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-family: 'YouSheBiaoTiHei';
          margin-top: -2.5rem;
          font-size: 1.75rem;
          color: #1afcff;
        }
      }
    }

    // 售后服务情况
    .AfterSaleServiceWrapper {
      height: 100%;
      // display: flex;
      .title {
        background: url(/ctHomeDataScreen/title2_bg.png) no-repeat;
        background-size: contain;
        background-position: center;
        width: 10.5rem;
        height: 1.5rem;
        margin: 0.625rem 0;
        padding-left: 1.5625rem;
        font-size: 0.9375rem;
      }

      .listWrapper {
        // padding: 0 1.25rem;
        // height: calc(100% - 1.5rem - 1.25rem);
        height: 100%;
        overflow: hidden;
        .header {
          background: rgba(30, 60, 116, 0.6);
          color: #26c3f8;
          line-height: 2.625rem;
          text-align: center;
          font-weight: 500;
        }

        .listContent {
          height: calc(100% - 3rem);
          overflow: hidden;
        }
        .listItem {
          line-height: 2.375rem;
          text-align: center;
          font-weight: 500;
          // background-color: rgba(16, 41, 81, 0.3);
          // &:nth-child(2n) {
          //   background-color: transparent;
          // }

          & > div {
            &:first-child {
              width: 32%;
              // text-align: left;
            }
            width: 17%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }

    .leftWrapper {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 4.875rem);
      gap: 8;

      & > div {
        flex: 1;
      }
    }

    .centerWrapper {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 4.875rem);
      min-height: 58.5rem;
      .mapWrapper {
        min-height: 40rem;
        flex: 2;
        position: relative;
        background: '#0b172f';

        &.fullScreen {
          position: fixed;
          z-index: 1000;
          width: 100%;
          height: calc(100vh - 3.75rem);
          left: 0;
        }

        .mapOperationBtn {
          position: absolute;
          top: 1.25rem;
          right: 1.25rem;
          width: 2.25rem;
          img {
            cursor: pointer;
          }
        }

        .infoWindowContent {
          border: 0.0625rem solid #007bfd;
          border-radius: 0.5rem;
          .header {
            background: rgb(8, 99, 206, 0.4);
            padding-bottom: 0;
            height: 1.875rem;
            line-height: 1.875rem;
            padding-left: 0.625rem;

            h2 {
              font-size: 0.875rem;
              color: #52f2ff;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            button {
              width: 100%;
            }

            p {
              margin-top: 0.625rem;

              span {
                font-weight: 500;
                color: #fe0301;
              }
            }
          }
          h3 {
            font-size: 0.8125rem;
            color: #fff;
            border-bottom: 0.0625rem solid #0a7bcb;
            width: 3.875rem;
            padding: 0 0.1875rem;
            background: linear-gradient(0deg, rgba(5, 78, 146, 0.8), #0a2262);
          }
          .desc {
            padding: 0.625rem;
            overflow: hidden;
            background: rgba(4, 45, 111, 0.6);
            display: flex;
            // & > div {
            //   width: 50%;
            //   float: left;
            // }

            .desc-l {
              width: 50%;
              display: inline-block;
              p {
                margin: 0;
                padding: 0;
                line-height: 1.625rem;
                font-size: 0.8125rem;
                // color: #5d5d5d;

                span {
                  color: #70a7ff;
                  font-weight: bold;
                  padding-left: 0.625rem;
                  position: relative;
                  i {
                    width: 0.375rem;
                    height: 0.375rem;
                    background: #0895d7;
                    border-radius: 50%;
                    position: absolute;
                    left: 0rem;
                    top: 0.375rem;
                  }
                }
              }
            }

            .desc-r {
              width: 50%;
              display: inline-block;
              /* width: 6.25rem; */
              height: 6.25rem;
              background: #ccc;

              img {
              }
            }
          }

          .tableList {
            background: rgba(4, 45, 111, 0.6);
            padding: 0.625rem;

            ul {
              background: #002259;
              display: flex;
              text-align: center;
              height: 1.875rem;
              line-height: 1.875rem;

              &.title {
                background: #061f48;
                color: rgb(3, 170, 226);
                font-size: 0.8125rem;
              }
              li {
                flex: 1;
                font-size: 0.8125rem;
                font-weight: bold;
              }
            }
          }
        }

        //小圆点
        .circle {
          animation: pulse 2s infinite alternate; /* 光圈脉动动画 */
        }

        @keyframes pulse {
          0% {
            transform: scale(0.5);
            opacity: 0.2;
          }
          0% {
            transform: scale(0.8);
            opacity: 0.5;
          }
          100% {
            transform: scale(1);
            opacity: 1;
          }
        }

        .gobackBox {
          width: 3.75rem;
          line-height: 1.8125rem;
          background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
          border: 0.0625rem solid #007bfd;
          position: absolute;
          right: 0.625rem;
          top: 0.625rem;
          color: #fff;
          text-align: center;
          font-weight: bold;
          cursor: pointer;
        }

        .titlePopSty {
          // white-space: break-word;
          white-space: nowrap;
          // color: rgb(56,168,212);
          color: #fff;
          background: rgb(23, 30, 70);
          margin-top: 0.3125rem;
          margin-left: calc(-50% - 0rem);
          margin-right: calc(50% - 2rem);
          text-align: center;
          padding: 0.125rem 0.25rem;
          border-radius: 0.125rem;
          border: 0.0625rem solid rgba(56, 168, 212, 0.4);
        }

        .pointTitlePopSty {
          background: #000001;
          margin-left: calc(-50% - 0rem);
          margin-right: calc(50% - 2rem);
          border-radius: 0.0625rem;
          div {
            margin-left: 0;
            margin-right: 0;
          }
        }

        .titleInfoWindow {
          padding: 0.375rem;
          background-color: #3c4860;
        }
        :global {
          .amap-info-content {
            position: relative;
            background: transparent;
            border-radius: 0.0625rem;
            padding: 0;
            .amap-info-close {
              display: none;
            }
          }
          .bottom-center .amap-info-sharp {
            //修改向下箭头的大小
            bottom: 0.125rem;
            left: 50%;
            margin-left: -0.375rem;
            border-left: 0.375rem solid transparent;
            border-right: 0.375rem solid transparent;
            border-top: 0.375rem solid #3c4860;
          }
        }

        .mapCountWrapper {
          margin-left: 1.25rem;
          display: inline-block;
          &.fullScreen {
            width: 40vw;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            margin: 0 30vw;
          }
          & > div {
            display: inline-block;
            background: url(/ctHomeDataScreen/number_btn_bg.png) no-repeat;
            background-size: 100% 100%;
            width: 8rem;
            height: 2.125rem;
            line-height: 2.125rem;
            text-align: center;
            font-weight: bold;

            .title {
              color: #9bdef0;
              font-size: 1rem;
              line-height: 1.875rem;
              margin-top: 0.375rem;
              margin-bottom: 0.3125rem;
            }
            .count {
              color: #00f1ff;
              font-size: 1.25rem;
              line-height: 1.875rem;
              margin-bottom: 0.25rem;
            }
          }
        }

        .mapSearchWrapper {
          position: absolute;
          top: 0.625rem;
          left: 1.25rem;

          :global {
            .ant-radio-button-wrapper {
              // background-color: transparent;
              background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
              color: #fff;
              border-color: #007bfd;
              font-weight: bold;
            }
            .ant-radio-button-wrapper-checked {
              background-color: #007bfd;
              font-weight: bold;
            }

            .ant-picker {
              background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
              border-color: #007bfd;
              height: 1.625rem;
              line-height: 1.625rem;
              border-radius: 0;
            }

            .ant-picker-input > input {
              color: #d1d1d1;
              font-weight: bold;
            }

            .ant-picker-suffix {
              color: #007bfd;
            }
          }
          // 搜索企业
          .SelectWrapper {
            // position: absolute;
            // left: 1.25rem;
            // top: 3rem;
            :global {
              .ant-select:not(.ant-select-customize-input) .ant-select-selector {
                border-color: #007bfd;
                background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
                // background: rgba(10, 125, 254, 0.4);
                color: #fff;
                height: 1.625rem;
                line-height: 1.625rem;
                border-radius: 0;
              }

              .ant-select-single:not(.ant-select-customize-input)
                .ant-select-selector
                .ant-select-selection-search-input {
                height: 1.625rem;
                line-height: 1.625rem;
              }

              .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
                line-height: 1.5rem;
                color: #70a7ff;
                font-weight: bold;
              }

              .ant-select-selection-item {
                font-weight: 500;
                line-height: 1.5rem;
              }

              .ant-select-clear {
                background-color: transparent;
                color: #999;
              }

              .ant-select-arrow {
                color: #59deff;
                font-size: 0.625rem;
                right: 0.375rem;
              }
            }
          }
        }
        .goback {
          position: absolute;
          top: 4rem;
          right: 4.375rem;
        }

        .legend {
          position: absolute;
          bottom: 1.625rem;
          right: 1.25rem;

          .legendItem {
            background: url(/ctHomeDataScreen/legend_bg.png) no-repeat;
            color: #fff;
            width: 5.5rem;
            height: 2.25rem;
            line-height: 2.5rem;
            display: flex;
            /* flex-direction: row; */
            align-items: center;
            /* justify-content: space-around; */
            padding: 0 0.625rem;
            font-weight: bold;
            background-size: 100% 100%;
          }
        }
      }
    }

    .rightWrapper {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 4.875rem);
      gap: 8;

      & > div {
        flex: 1;
      }
    }
  }
}

.popupStyle {
  // background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
  background: rgba(10, 125, 254, 0.4);
  font-weight: 500;
  :global {
    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background-color: #136fd1;
    }
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      background-color: #007bfd;
    }

    .ant-select-item {
      color: #fff;
    }
  }
}

.datePickerPopup {
  // background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
  border: 0.0625rem solid rgb(0, 123, 253);
  border-bottom: 0;

  :global {
    .ant-picker-panel-container {
      background: rgb(9, 47, 97, 0.8);
    }

    .ant-picker-panel {
      border-color: rgb(0, 123, 253);
    }

    .ant-picker-header {
      color: #fff;
      font-weight: bold;
      border-color: rgb(0, 123, 253);
    }

    .ant-picker-header button {
      color: #fff;
    }

    .ant-picker-header-view {
      font-weight: bold;
    }

    .ant-picker-content td {
      color: #fff;
      font-weight: bold;
    }
    .ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
    .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end)
      .ant-picker-cell-inner {
      background: #136fd1;
    }
  }
}
