.ctAfterSalesServiceManagementSty :global{
    .ant-pro-page-header-wrap-children-content{
        background-color: transparent !important;
    }
    .ant-advanced-search-form{
        padding-bottom: 10px;
    }
    .ant-card-bordered{
      padding-top: 0  !important;
    }
    .ant-card-head{
      min-height: 24px;
      font-size: 14px;
    }
    .ant-card-head-title{
     padding:8px 0;
    }
    .echartsContentSty{
      .ant-card-body{
        padding-bottom: 16px;
      }
      .ant-card-bordered{
        padding-bottom: 16px !important;
      }
    }
}