.popupStyle {
  // background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
  background: rgba(41, 107, 181, 0.8);
  // background: rgba(0, 6, 47, 0.6);

  font-weight: 500;
  :global {
    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background-color: #136fd1;
    }
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      background-color: #007bfd;
    }

    .ant-select-item {
      color: #fff;
    }
  }
}
.ScreenWrapper {
  height: 100vh;
  width: 100vw;
  // min-width: 1500px;
  background: url(/dataModal/statistics/BG.png) no-repeat;
  background-size: cover;
  overflow: auto;

  /*滚动条轨道颜色*/
  @scrollbar-track-color: #021e39;
  /*滚动条颜色*/
  @scrollbar-thumb-color: #305090;
  /*滚动条大小*/
  @scrollbar-width: 9px;

  ::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
  }

  ::-webkit-scrollbar {
    width: @scrollbar-width;
    height: 9px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: @scrollbar-track-color;
  }

  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: @scrollbar-thumb-color;
    -webkit-border-radius: 4px;
    outline-offset: -2px;
    border: 2px solid @scrollbar-thumb-color;
  }

  ::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: @scrollbar-thumb-color;
    -webkit-border-radius: 4px;
  }

  /* 在小屏幕上调整文本大小 */
  // @media screen and (max-width: 1200px) {
  //   header {
  //     font-size: 22px !important;
  //   }
  //   .boxWrapper {
  //     flex-wrap: wrap;
  //     margin-bottom: 0 !important;

  //     .boxItem {
  //       width: 100% !important;
  //       margin-right: 0 !important;
  //       margin-bottom: 14px;
  //     }
  //   }

  //   .checkBox {
  //     padding-top: 20px !important;

  //     .legendInfo {
  //       margin-bottom: 18px !important;
  //       font-size: 18px !important;
  //     }
  //   }
  // }

  :global {
    .ant-spin-nested-loading,
    .ant-spin-container {
      width: 100%;
      height: 100%;
    }
  }

  // 下拉列表
  .SelectWrapper {
    position: absolute;
    left: 1.25rem;
    top: 2.875rem;
    :global {
      .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-color: rgba(0, 188, 255, 0.5);
        // background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
        background: linear-gradient(0, rgba(14, 119, 157, 0.4), rgba(11, 26, 69, 0));
        // background: rgba(10, 125, 254, 0.4);
        color: #fceded;
        font-weight: bold;
        height: 1.875rem;
        line-height: 1.875rem;
        border-radius: 0;
      }

      .ant-select-single:not(.ant-select-customize-input)
        .ant-select-selector
        .ant-select-selection-search-input {
        height: 1.875rem;
        line-height: 1.875rem;
      }

      .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
        line-height: 28px;
        color: #70a7ff;
        font-weight: bold;
      }

      .ant-select-selection-item {
        font-weight: 500;
        line-height: 1.75rem;
        font-size: .875rem;
      }

      .ant-select-clear {
        background-color: transparent;
        color: #999;
      }

      .ant-select-arrow {
        color: #59deff;
        font-size: .625rem;
        right: .375rem;
      }
    }
  }

  header {
    height: 5rem;
    text-align: center;
    background: url(/dataModal/statistics/top.png) no-repeat;
    background-size: 100% 100%;

    font-size: 1.625rem;
    font-weight: bold;
    color: #ffffff;
    line-height: 3.75rem;
    position: relative;
  }

  main {
    padding: .625rem 1.25rem;
  }
  .boxWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: .875rem;

    .boxItem {
      // height: 420px;
      // height: 34%;
      // background: rgba(0, 188, 255, 0.1);
      // border: 1px solid #00bcff;
      /* opacity: 0.5; */
      background: rgba(29, 123, 158, 0.1);
      border: 1px solid rgba(0, 188, 255, 0.5);
      display: flex;
      flex-direction: column;

      .title {
        height: 2.75rem;
        background: linear-gradient(90deg, rgba(14, 119, 157, 0.4), rgba(11, 26, 69, 0));
        color: #65d9ff;
        line-height: 2.75rem;
        padding: 0 .625rem;
        font-weight: bold;
        font-size: 1.25rem;
      }
      .boxItemContent {
        flex: 1;
      }
    }
    // 数据统计分析
    .dataCountStatistics {
      display: flex;
      align-items: center;
      height: 100%;
      .countBox {
        width: 17.5rem;
        height: 17.5rem;
        margin-left: 4%;
        background: url(/dataModal/statistics/count_bg.png) no-repeat 0 -1.25rem;
        background-size: contain;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5.625rem;
        cursor: pointer;

        p.text {
          // width: 94px;
          // line-height: 1.5rem;
          padding: .0625rem .375rem;
          background: rgba(0, 89, 255, 0.6);
          margin-left: -1.75rem;
          font-size: 1.0625rem;
          font-weight: 900;
        }

        p.count {
          font-size: 2rem;
          margin-left: -1.75rem;
          font-weight: bold;
        }
      }

      .groupNums {
        flex: 2;
        color: #26b0ff;
        text-align: center;
        .text {
          margin-bottom: 0;
          line-height: 2.375rem;
          height: 2.375rem;
          overflow: hidden;
          vertical-align: middle;
          font-weight: bold;
          font-size: 1.125rem;
          margin-bottom: .625rem;
          // display: flex;
          // align-items: center;

          i {
            width: 1.125rem;
            height: 1.125rem;
            display: inline-block;
            margin-right: .25rem;
            background: url(/dataModal/statistics/icon.png) no-repeat;
            background-size: contain;
          }
        }
        .count {
          line-height: 2.5rem;
          background: linear-gradient(
            90deg,
            rgba(11, 26, 69, 0),
            rgba(14, 119, 157, 0.4),
            rgba(11, 26, 69, 0)
          );
          border-top: .0625rem solid;
          border-image: linear-gradient(
              to right,
              rgba(0, 188, 255, 0.1),
              #0893ff,
              rgba(0, 188, 255, 0.1)
            )
            1;
          margin: 0 .625rem;
          border-bottom: .0625rem solid;
          padding: 0 1.375rem;
          text-align: center;
          min-width: 8.125rem;
          height: 3.125rem;
          line-height: 3.125rem;
          overflow: hidden;
          vertical-align: middle;
          font-weight: bold;

          span {
            color: #26e3ff;
            font-weight: bold;
            margin-right: .375rem;
            font-size: 1.375rem;
          }
        }
      }
    }

    // 线索核实情况
    .checkBox {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      padding: 0 1.25rem;

      .legendInfo {
        color: #fff;
        font-weight: 500;
        font-size: 1.125rem;
        margin-bottom: .375rem;

        .content {
          position: relative;
          :global {
            .ant-progress-steps-item {
              width: calc((100% - 18.75rem) / 50) !important;
              margin-right: .25rem;
            }
          }

          .num {
            position: absolute;
            top: -0.1875rem;
            right: 0;
            color: #26e3ff;
            font-size: 1.1875rem;
          }
          .ent {
            font-size: 1rem;
            margin-bottom: 0;
            margin-top: -0.375rem;
          }
          .entCount {
            color: #26e3ff;
            font-size: 1.1875rem;
            margin-left: 2.5rem;
          }
        }
      }
    }

    // 线索数量企业排名
    .entRankBox {
      padding: 1.25rem;
      height: 17.5rem;
      overflow-y: auto;
      .rankItem {
        margin-bottom: .75rem;
        .info {
          display: flex;
          justify-content: space-between;
          color: #fff;
          font-weight: 500;
          margin-bottom: .625rem;
          .text {
          }
          .num {
          }
        }

        .progress {
          background: #0f255d;
          height: 1.25rem;
          .inner {
            height: 100%;
            background: linear-gradient(-90deg, #138ff4, #26afd5);
          }
        }
      }
    }

    // 核实信息
    .checkInfoWrapper {
      .tableWrapper {
        height: calc(100% - 2.625rem);
        & > div {
          height: 100%;
        }
      }

      :global {
        .ant-table-wrapper {
          height: 100%;
        }
        .ant-table-container {
          height: 100%;
        }
        .ant-table {
          height: 100%;
          background: rgba(29, 123, 158, 0.1);
        }

        .ant-table-thead > tr > th {
          font-weight: bold;
          text-align: left;
          background: #143778;
          color: #71cdf9;
          border: none;
          font-size: 1rem;
        }

        .ant-table-column-sorter {
          color: #71cdf9;
        }

        .ant-table-cell {
          border: none;
        }

        .ant-empty-image {
          display: none;
        }
        .ant-empty-description {
          color: #ccc;
          font-weight: bold;
        }

        .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
          background: rgba(29, 123, 158, 0.1) !important;
        }

        .ant-table-placeholder:hover {
          .ant-table-expanded-row-fixed {
            background: rgba(29, 123, 158, 0.1) !important;
          }
        }

        .ant-table-tbody > tr > td {
          background: transparent;
          color: #fff;
          font-size: 1rem;
          font-weight: 500;
        }

        .light {
          background-color: rgba(15, 83, 157, 0.2) !important;
        }
      }
    }
  }
}
