
    .cemsModelListSty {

     .ant-advanced-search-form  :global{
      .ant-form-item{
        // margin-bottom: 16px;
    }
      .ant-form-item-label{
        min-width: 70px;
      }
  }
  //   .ant-col-8:nth-child(3n-1){
  //       padding: 0 2%;
  //   }

}


    .fromModal  :global {
      width:950px !important;
     
        .ant-form-item{
          padding-left: 70px;
        }
        .ant-modal-body{
          padding-right: calc(24px + 70px);
        }
        .ant-form-item{
          margin-bottom: 20px;
        }
        .ant-input,.ant-select,.ant-picker,.ant-input-number{
          width:100%;
        }
        .ant-form-item-label{
          width:80px;
        }
        .ant-form-hidden{
          display: none;
        }
    } 
