




 .remoteSupervisionSty{ 
     .queryForm :global{
        .ant-form-item{
         padding-bottom: 10px;
         padding-right: 16px;
        }
        .regSty .ant-form-item-label{
            min-width: 70px; 
        }
        .checkSty{
            .ant-form-item-label{
                width: 84px;
            }
        }

     }
 }
 .modalSty {
    :global{
        .ant-modal{
          max-width: 100vw;
          width: 100vw !important;
          position: fixed;
          height: 100vh;
          top: 64px;
          bottom: 0;
          left: 0;
        }
        .ant-modal-content{
         height: 100vh;
        }
       }

    .queryPar  :global{
    .ant-select,.ant-input,.ant-picker{
        width: 200px !important;
     }
     .ant-form-item{
        padding-bottom: 10px;
        padding-right: 10px;
       }
    .ant-form-item-explain, .ant-form-item-extra{
        position: absolute;
        top: 30px;
   }
    }
    .tabSty  :global{
        .ant-form-item{
            margin: 0;
     }  
      .ant-form-item-explain, .ant-form-item-extra{
          font-size: 12px;
          position: absolute;
          top: 30px;
     }
     .ant-input-number,.ant-picker{
        width: 80px;
     }
     .ant-select{
        width: 100px;
     }
     .ant-tabs-content{
        height: calc(100vh - 350px);
        // height: calc(100wh - 50px);
        overflow: auto;
    }
    .ant-table-body{
        overflow-y: hidden !important;
        // overflow-x: visible;
    }
    .ant-table-header{
        // overflow-x: visible;
    }
    .light{
        background-color: #fff;
    }
    }
 }

 .remoteSupervisionDetailSty{
    :global{
        .ant-form-item{
         padding-bottom: 10px;
        } 
        // .ant-card-body{
        //  padding: 48px;
        //  padding-top: 48px !important;
        // }
        .light{
            background-color: #fff;
        }
    }
 }