




 .remoteSupervisionSty{ 
     .queryForm :global{
        .ant-form-item{
         padding-bottom: 10px;
         padding-right: 16px;
        }
        .ant-form-item-label{
            min-width: 70px; 
        }
         .ant-select,.ant-input,.ant-picker{
            width: 200px !important;
         }
     }
 }
 .modalSty  :global{
    .ant-select,.ant-input,.ant-picker{
        width: 200px !important;
     }
     .ant-form-item{
        padding-bottom: 10px;
        padding-right: 10px;
       }
 }
 .remoteSupervisionDetailSty{
    :global{
        .ant-form-item{
         padding-bottom: 10px;
        } 
        .ant-card-body{
         padding: 48px;
         padding-top: 48px !important;
        }
    }
 }