     .tree-search-form  :global{
      .ant-form-item{
        margin-bottom: 12px;
      }
     }
     .treeSty{
        overflow-y: auto;
        height: calc(100vh - 220px);
     }
     .hourCommissionTestSty :global{
        ::-webkit-scrollbar {
           height: 12px;
           width: 12px;
         }
         ::-webkit-scrollbar-thumb {
           border-radius: 40px;
         }
       
      .ant-card-body{
        padding: 0;
      }
      .ant-tabs-nav{
        padding: 0 24px;
      }
      .ant-tabs-nav .ant-tabs-tab{
        margin: 12px 20px 6px 0;
      }
      .ant-tabs-tab-btn{
        font-size: 15px;
        font-weight: bold !important;
      }
      .ant-tabs-content{
        height: calc(100vh - 228px);
        overflow: auto;
        padding: 12px 24px;
        // overflow-x: hidden;
     }
     .white-table-thead{
      .ant-table.ant-table-bordered > .ant-table-container{
        border-top: 0;
      }
      .ant-table-small .ant-table-thead > tr > th{
        background-color: #fff;
      }
    }
    .tableSty{
      .ant-form-item-explain{
        text-align: left;
        font-size: 12px;
        position: absolute;
      }
      .ant-form-item{
        margin-bottom: 0 !important;
       }
    }
    .tableSty2{
      .tableSty;
      .ant-table.ant-table-bordered > .ant-table-container{
        border-top: 0;
      }
    }
    }
    .popSty :global{
      .ant-upload-list{
        position: absolute;
        top:-15px;
    }
    .ant-upload-list-item{
      max-width: 207px;
    }
    }
    .popSty2 :global{
      .ant-form-item-label{
        min-width: 84px;
      }
    }
     
    .totalContentSty {
     .ant-advanced-search-form  :global{
      .ant-form-item{
        margin-bottom: 16px;
      }
      .ant-input-number{
        width: 100%;
      }
      .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
        display: none;
          }
        .ant-form-item-explain{
         text-align: left;
         font-size: 12px;
         position: absolute;
       }
     }
     .advanced_search_sty :global{
      .ant-form-item-label{
       min-width: 125px;
     }
   }

   }
   .testReportContentSty :global{
    .ant-spin-nested-loading > div > .ant-spin{
      max-height: none;
    }
   }
   .referenceOxygenTestDataSty :global{ //参比方法评估气态污染物CEMS（含氧量）准确度 基础表单
    .ant-form-item:nth-last-child(1) .ant-form-item-label{
      min-width: 100px !important;
    }
    .ant-input-suffix{
      display: none;
    }
   }

   .reqSty :global{ //必填
    .ant-picker,.ant-input-number,.ant-input,.ant-input-affix-wrapper,.ant-picker-clear{
      background-color: #fff1f0;
    }
   }
   .reqRadioSty  :global{ //必填 单选按钮
    background-color: #fff1f0;
    width: 105px;
    .ant-radio-wrapper:last-child{
      margin-right:0;
      span.ant-radio + *{
        padding-right: 0;
      }
    }
   }
   .warnSty :global{ //警示 样式
    .ant-picker,.ant-input-number,.ant-input,.ant-input-affix-wrapper,.ant-picker-clear{
      background-color: #ff4d4f;
    }
   }
   .timeComparWarnMessAlertSty :global{
     .ant-message-custom-content{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
     }
    .ant-message-notice-content{
      padding: 18px 28px;
    }
    .anticon {
      font-size: 20px;
      line-height: 100%;
    }
     span:last-child{
      line-height: 100%;
    }
   }
   .importSty :global{ //导入
    .ant-picker,.ant-input-number,.ant-input,.ant-input-affix-wrapper{
      background-color: #e6f7ff;
    }
  }
  .calculaSty :global{ //计算
    .ant-picker,.ant-input-number,.ant-input,.ant-input-affix-wrapper{
      background-color: #f6ffed;
    }
  }
  /*时间间隔*/
  .particleMatterReferTimeSty :global{ 
    .ant-form-item-label{
      width: 83px;
    }
  } 
