.deviceManagerSty{
    :global{

      .ant-pagination-options-size-changer.ant-select{
       width: auto;
      }
      .ant-select{
        text-align: left;
      }

  .noSpreadOverModal {
        
      .ant-modal-content{
        height: auto;
      }
      .ant-modal{
        max-width: auto;
        width: 50% !important;
        position: relative;
        height: auto;
      }
    }
  }
 
  }