
 .resourceOverviewPage  :global{
    height: calc(100vh - 64px);
    padding:0 10px;
    overflow-y: auto;
    margin: -24px;
    background-image: url(/currencyResOver/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    .cardBodySty{
      padding: 0 16px;
      background-color: rgba(4, 39, 103, .2);
      cursor: pointer;
      // background-color: red;
    }
    .ant-spin-nested-loading > div > .ant-spin , .ant-spin-container, .ant-spin-nested-loading{
      max-height:calc(100%);
      height: calc(100%);
    }
    .mapModalHide{
      opacity: 0;
      transition: all .3s ease-in;
    }
    .mapModalShow{
      opacity: 1;
      transition: all .3s ease-in;
    }

    .leftPageSty{
      .bjkSty{
        width: 110px;
        height: 110px;
        position: absolute;
        border: 1px solid #142247;
        border-radius: 100%;
        left: 48px;
        top: 48px;
      }
      .ant-radio-button-wrapper:first-child {
        border-radius: 12px 0 0 12px;
      }
      .ant-radio-button-wrapper:last-child {
        border-radius: 0 12px 12px 0;
      }
      .ant-radio-button-wrapper{
        color: #70A7FF;
        background: transparent;
        border: 1px solid #008DFD;
      }
      .ant-radio-button-wrapper:not(:first-child)::before,.ant-radio-button-wrapper:not(:first-child)::before{
        width: 0;
      }
      .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
        color: #fff;
        background: #1E74FD;
        border-color: #1E74FD;
      }
    }
    .rightPageSty{
      .youSheBiaoTiHeiSty{
        font-family: YouSheBiaoTiHei;
        background: linear-gradient(to bottom, #FFFFFF, #0059D2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
      }
    }

  .mapPageSty{
    .mapModal{
      position: fixed;
      z-index:1000;
      width:100%;
      height:100%;
      left: 0;
      top: calc(64px)
    }
    :global {
      .amap-container {
       background-color: #040a23 !important;
     }
   } 
  }

}
