:global{
    .am-steps-vertical.am-steps-small .am-steps-item-tail {
        padding: 13px 0 0 0;
    }
}
.scanningCode  :global{
    .am-steps-small .am-steps-item-custom .am-steps-item-icon > .am-steps-icon{
      top: 0 !important;
    }
   }
   .scanningCodeModal :global{
    .am-list-body::after { 
      height: 0 !important;
    }
  
   }