@import '~antd/lib/style/themes/default.less';

.operationModal{
  width:750px !important;
  :global {
    .ant-legacy-form-item-label{
      width:150px;
    }
    .ant-input,.ant-select{
      width:180px;
    }
    .ant-upload-picture-card-wrapper{
      width: 120px;
      vertical-align: middle;
    }
    .ant-legacy-form-item{
      margin-bottom: 10px
    }
    .ant-upload-list-item-info > span{
      width: 120px;
    }
  }
}