
.commonSty{
    position: absolute;
    z-index: 999;
    // font-size: 18px;
    // font-weight: bold;
}

.guo{
 
    top: 85px;
    left: 98px;
  
}
.tuox{
    top: 309px;
    left: 78px;
}
.tuol{
    top: 491px;
    left: 78px;
}
.chu{
    top: 689px;
    left: 78px;
}
.yan{
    top: 85px;
    left: 280px;
}
.quyangt{
    top: 251px;
    left: 412px;   
}