
.formulateModalSty :global{ //制定计划弹框
    #advanced_search_formulate .ant-form-item-label{
        min-width: 108px;
    }
    #advanced_search_formulate .ant-col-12{
        flex: 0 0 calc(50% - 6px);
    }
    #advanced_search_form3{ //运维计划内容
        .pointItemSty{
          .ant-form-item-label > label{
            height: auto;
          }
        }
        .ant-checkbox-group-item{
            margin-right: 12px;
        }
        .ant-checkbox-group .ant-checkbox-group-item>span:nth-last-child(1){
            width: 180px;
            display: inline-block;
        }
        
    }
}    

