
.formulateModalSty :global{ //制定计划弹框
    #advanced_search_formulate .ant-col-12{
        flex: 0 0 calc(50% - 6px);
    }
    #advanced_search_plancontent_form{ //运维计划内容
        .pointItemSty{
          .ant-form-item-label{
             margin-top: -22px;
             & > label{
             height: auto;
           }
          }
        }
        .ant-checkbox-group-item{
            margin-right: 12px;
        }
        .ant-checkbox-group .ant-checkbox-group-item>span:nth-last-child(1){
            width: 200px;
            display: inline-block;
        }
        
    }
}    

