
.formulateModalSty :global{ //制定计划弹框
    #advanced_search_formulate .ant-col-12{
        flex: 0 0 calc(50% - 6px);
    }
    #advanced_search_plancontent_form{ //运维计划内容
        .pointItemSty{
          .ant-form-item-label{
             margin-top: -22px;
             & > label{
             height: auto;
           }
          }
        }
        .ant-checkbox-group-item{
            margin-right: 12px;
        }
        .ant-checkbox-group{
         .ant-checkbox + span{
            width: 240px;
            display: inline-block;
         }
         .ant-checkbox-wrapper + .ant-checkbox-wrapper{
            margin: 0;
         }
      }
        
     }
}    

