
  .operaAchievSty  :global {
      .ant-table.ant-table-middle .ant-table-thead .ant-table-filter-column-title{
         padding: 12px 8px;
      }
      .ant-card{
        padding-top: 0 !important;
      }
      //给查询条件换行添加上下间距
      .ant-card-head-title{
        padding: 8px 0 16px 0;
       }
       .ant-form-item{
         padding-top: 8px;  
       }
         

  }
  .achievQuerySty :global {
    .ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane, .ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
      padding-left: 0;
    }
    .ant-card{
      padding-top: 0 !important;
      border: 0;
    }
    .ant-form-item{
      margin-right: 16px;
      margin-bottom: 12px;
    }
    .form2ItemWidth {
      .ant-form-item-label{
        width: 86px;
      } 
    }
  }
  .operaUserIntegralSty :global {
    .ant-tabs{
     margin-top: 16px;
     .ant-tabs-tabpane{
       padding-left: 0 !important;
     }
    }
    .ant-card {
      padding-top: 0  !important;
      border: 0;
    }
  }
   .scoreModalSty :global {
     .ant-tabs  .ant-tabs-tab{
       padding-left: 0;    
    }
  } 
  .updatePersonaSty :global {
    .ant-form-item-label{
      min-width: 169px;
    }
    .ant-input-number{
      width: 100%;
    }
  }