// 排口参数配置
.CardPageWrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #f0f2f5;
  padding: 0 10px;
  padding-bottom: 10px;

  .title {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 12px;
    line-height: 26px;
    &::before {
      position: absolute;
      left: 0;
      display: table;
      content: ' ';
      width: 4px;
      height: 14px;
      background-color: #1890ff;
    }
  }

  :global {
    .ant-card-bordered {
      padding-top: 0 !important;
      margin-bottom: 12px;
    }

    .ant-descriptions-item-label {
      font-weight: 500;
    }
  }
}

// 告警核实详情
.WarningVerifyWrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  // max-height: calc(100vh + -60px);
  background: #f0f2f5;
  padding: 0 10px;
  padding-bottom: 10px;

  :global {
    .ant-card-body {
      // padding: 10px 24px !important;
    }

    .ant-card-bordered {
      padding-top: 0 !important;
      margin-bottom: 12px;
    }

    .ant-descriptions-item-label {
      font-weight: 500;
    }

    .ant-descriptions-item-content {
      overflow: hidden;
    }
  }

  .chartWrapper {
    padding: 20px 0;
    min-height: 320px;
    width: 100%;

    & > div {
      width: 100%;
    }
  }
}

// 模型设置
.ModelSettingWrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  // max-height: calc(100vh + -60px);
  background: #f0f2f5;
  padding: 0 10px;
  padding-bottom: 10px;

  :global {
    .ant-card-body {
      // padding: 10px 24px !important;
    }

    .ant-card-bordered {
      padding-top: 0 !important;
      margin-bottom: 12px;
    }

    .ant-descriptions-item-label {
      font-weight: 500;
    }
  }
}

.textOverflow {
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chartBox {
  position: relative;
  height: 100%;

  .legendBox {
    width: 100%;
    position: absolute;
    bottom: -6px;
    display: flex;
    justify-content: center;

    .legendItem {
      display: inline-block;
      padding-left: 14px;
      position: relative;
      margin-right: 24px;
      cursor: pointer;
      color: rgb(204, 204, 204);

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: rgba(0, 0, 0, 0.85);
      }
      i {
        // content: '';
        position: absolute;
        top: 8px;
        left: -6px;
        width: 12px;
        height: 6px;
        // background: #5e9df8;
        background: rgb(204, 204, 204);
      }
    }
  }

  .trend {
    position: absolute;
    right: 90px;
    top: 76px;
    font-size: 12px;
    z-index: 1;
  }
}

.WarningDataTable {
  :global {
    .ant-table-tbody td {
      padding: 0 !important;
    }
  }

  .tdBox {
    padding: 8px;
  }
}

// 公式
.formulaImageWrapper {
  padding: 0 20px;
  margin-top: 20px;
  .formulaBox {
    display: inline-block;
    .title {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

// 报警记录
.warningWrapper {
  :global {
    .ant-form-inline .ant-form-item {
      margin-bottom: 20px;
    }
  }
}

.ModelTableWrapper {
  :global {
    .ant-table-row-expand-icon-cell {
      padding: 16px !important;
    }
    .ant-table.ant-table-middle .ant-table-tbody .ant-table-wrapper:only-child .ant-table {
      margin: -11px -8px -13px 40px;
    }

    .ant-table-row-expand-icon {
      display: inline-flex;
      float: none;
      vertical-align: sub;
    }
  }
}
