.pageWrapper {
  overflow-x: hidden;
  height: 100%;
  background-color: #f0f2f5;

  td.bg_white {
    background-color: #fff;
  }

  :global {
    .ant-card-bordered {
      padding-top: 0 !important;
    }
  }
}
 .modalSty  :global {
  .minWidth{
    .ant-form-item-label{
      min-width:97px;
    }
   }
}