

.helpCenterModal  :global {
  .ant-modal-body {
    padding: 1% 2%;
    height: calc(100vh - 280px);
    overflow-y: auto;   
    }
    .ant-spin-nested-loading{
      height: 100%;
   }
   img{
    max-width: 100%;
  }
  }      
 
  .treeSty  :global {
    width: 132px;
    padding-top: 44px;
    .ant-tree-list,.ant-skeleton{
      padding:12px 16px;
    }
    .ant-skeleton{
      height: 192px;
    }
     .ant-tree-switcher{
      display: none;
    }
  }
  .questListSty  :global {
     padding-left: 20px;
    .ant-list {
      height: calc(100vh - 230px);
      overflow-y: auto;
    }
  }
  .quesDetailSty :global {
    img{
      max-width: 100%;
    }
  }
.helpCenterSty  :global {
  .ant-pro-page-header-wrap-children-content,.ant-card{
    background-color:#f0f2f5 !important;
  }
  .ant-pro-page-header-wrap-children-content{
    margin: 14px;
    margin-top: 0;
  }
  .ant-card{
    margin-top:14px;
  }
  .ant-card,.ant-card-body{
    padding-top: 0 !important;
    padding: 0 !important;
  }

  .ant-list-empty-text,.ant-skeleton,.ant-spin-container {
    background-color: #fff;
  }
  .ant-skeleton{
    padding: 20px;
    padding-top: 0;
  }
  .ant-spin-container{
    padding: 0 20px 12px 20px;
  }
  .ant-list-pagination{
    margin-top: 14px;
  }
  .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected{
    background-color: #fff;
    color: #1890ff;
  }
}
  