

.helpCenterModal  :global {
  .ant-modal-body {
    padding: 1% 2%;
    height: calc(100vh - 280px);
    overflow-y: auto;   
    }
    .ant-spin-nested-loading{
      height: 100%;
   }
   img{
    max-width: 100%;
  }
  }      
 
  .treeSty  :global {
    .ant-skeleton{
       width: 170px;
      padding-right: 24px;
    }
  }
  .questListSty  :global {
    .ant-list {
      height: calc(100vh - 230px);
      overflow-y: auto;
    }
  }
  .quesDetailSty :global {
    img{
      max-width: 100%;
    }
  }
  
  