.operationRecordListSty {
  .ant-advanced-search-form :global {
    .ant-form-item {
      margin-bottom: 0;
      margin-right: 8px;
    }
    display: flex;
    justify-content: end;
    margin-right: 135px;
  }

  :global {
    ::-webkit-scrollbar {
      // width: 12px;
      height: 12px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 40px;
    }

    .ant-card-body {
      padding: 22px 24px;
    }
  }

}

.detailPopSty :global {
  // .ant-table{
  //   margin: 0 !important;
  // }
  // .ant-table-container::after{
  //   box-shadow: none !important;
  // }
  //  .ant-table-container:first-child{
  //   border-top: 1px solid #f0f0f0;
  // }
  // a:visited {
  // }
}