.categoryModalSty :global {
  .ant-modal-body {
    padding: 24px 10%;
  }

  .ant-input-number {
    width: 100%;
  }

  .ant-form-item-label {
    width: 108px;
  }

  .ant-form-item {
    margin-bottom: 24px;
  }
}

.telModalSty :global{
  .addEditTable {
    .ant-form-item-explain .ant-form-item-explain-error{
      text-align: left;
    }
  }
  .add .ant-table-row{
    transform: translateX(-100%);/* 初始位置在视口外部 */
    animation: fromLeft .8s forwards; /*forwards 动画完成后保持最终状态 */
   
  }
}




.detailModal :global {
  .ant-modal-content {
    overflow-y: hidden;
  }
}

.supervisionSty :global {
  .ant-card-body {
    padding: 12px 12px 12px 0;
  }
}