
.popSty :global{
      .ant-form-item .ant-upload{
        width: 100%;
      }
      .ant-form-item-control{
        width: calc(100% - 42px);
      }
 }
 .problemBaseSty  :global{
  .ant-card-head-title{
    overflow: visible;
  }
}
