.operations {
    padding-top: 15px;
      margin-bottom: 16px;
      clear: left;
    }
    
    .operations > button {
      margin-left: 8px;
    }
  
    .searchCondition {
      margin-bottom: 16px;
      clear: left;
    }
  
    .searchCondition > button {
      margin-left: 8px;
    }
  
    .codebox{
      background-color: white;
    } 


