.pageWrapper {
  margin: -24px;
  height: calc(100vh - 64px);
  margin-right: 408px;
  position: relative;
}

.tooltip {
  :global {
    .ant-tooltip-inner {
      padding: 2px 4px;
      min-height: 26px;
    }
  }
}

.viewMode {
  position: absolute;
  right: 14px;
  top: 10px;
  z-index: 1;
}

.point {
  background: #fd1100;
  border-radius: 50%;
  opacity: .8;

  &.level4 {
    width: 16px;
    height: 16px;
  }

  &.level3 {
    width: 24px;
    height: 24px;
  }

  &.level2 {
    width: 30px;
    height: 30px;
  }

  &.level1 {
    width: 36px;
    height: 36px;
  }
}

.toggleDrawer {
  :global {
    .ant-drawer-content {
      overflow: visible;
    }
  }

  .toggleIconContainer {
    position: absolute;
    top: 40%;
    display: flex;
    width: 14px;
    height: 42px;
    size: 16px;
    text-align: center;
    background: #1890ff;
    cursor: pointer;

    .toggleIcon {
      margin-top: 90%;
      color: rgb(255, 255, 255);
      margin-left: 1px;
    }
  }
}
