@font-face {
  font-family: 'PangMenZhengDao';
  src: url('/iconFont/pangmenzhengdao.TTF') format('truetype'); /* 根据你的字体文件格式调整format */
}

@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('/iconFont/youshebiaotihei.ttf') format('truetype'); /* 根据你的字体文件格式调整format */
}

.dashboardPageWrapper {
  height: 100vh;
  width: 100vw;
  min-width: 1500px;
  // min-height: 1000px;
  overflow: auto;
  color: #fff;
  position: relative;
  background: url(/SystemDashboard/page_bg.png) no-repeat;
  background-size: cover;
  td.bg_white {
    background-color: #fff;
  }
  p {
    margin-bottom: 0;
  }

  /*滚动条轨道颜色*/
  @scrollbar-track-color: #021e39;
  /*滚动条颜色*/
  @scrollbar-thumb-color: #305090;
  /*滚动条大小*/
  @scrollbar-width: 9px;

  ::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
  }

  ::-webkit-scrollbar {
    width: @scrollbar-width;
    height: 9px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: @scrollbar-track-color;
  }

  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: @scrollbar-thumb-color;
    -webkit-border-radius: 4px;
    outline-offset: -2px;
    border: 2px solid @scrollbar-thumb-color;
  }

  ::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: @scrollbar-thumb-color;
    -webkit-border-radius: 4px;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :global {
    .ant-spin-nested-loading,
    .ant-spin-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  header {
    height: 60px;
    text-align: center;
    background: url(/SystemDashboard/header_bg.png) no-repeat;
    background-size: 100% 170%;
    font-family: YouSheBiaoTiHei;
    font-size: 30px;
    font-weight: bold;
    color: #4fd3ff;
    line-height: 50px;
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
  }

  .leftContent {
    display: flex;
    align-items: center;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 10px;

    .menuSelectContent {
      position: relative;

      &:hover {
        ul {
          display: block;
        }
      }

      .selectedName {
        text-align: center;
        width: 150px;
        height: 30px;
        line-height: 30px;
        background: url(/SystemDashboard/headerButton.png) no-repeat;
        background-size: 100% 100%;
        color: #a4cee1;
        font-weight: bold;
        font-size: 15px;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          right: 15px;
          top: 15px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 4px solid #1ac9ff;
          z-index: 10;
        }

        &:last-child {
          width: 140px;
          background-size: 100% 100%;
        }
      }

      ul {
        display: none;
        position: absolute;
        background: #112552;
        left: 12px;
        min-width: calc(100% - 12px);
        z-index: 9;
        li {
          // min-width: ;
          line-height: 36px;
          border: 1px solid #2a8ac2;
          border-top: none;
          text-align: center;
          color: #97c0d6;
          font-weight: bold;
          cursor: pointer;

          &:hover {
            background-color: #1d96e7;
            color: #fff;
          }
          &.active {
            background-color: #1d96e7;
            color: #fff;
          }
        }
      }
    }

    .triangleDown {
      position: relative;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid black; /* Change color to suit your needs */
    }
  }

  .rightContent {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    align-items: center;
    height: 60px;

    .goSystem {
      background: url(/SystemDashboard/goSystem.png) no-repeat;
      color: #a4cee1;
      font-size: 15px;
      width: 120px;
      height: 37px;
      text-align: center;
      line-height: 36px;
      font-weight: bold;
      margin-right: 10px;
      cursor: pointer;
    }
    .message {
      width: 14px;
      margin-right: 16px;
      cursor: pointer;
    }
    .userInfoContent {
      cursor: pointer;
      :global {
        .ant-avatar-image {
          margin-right: 10px;
        }
      }
    }
  }

  main {
    padding: 10px;
    height: calc(100% - 60px);
    overflow: auto;
    .contentWrapper {
      height: calc(100%);
    }

    // & > div {
    //   height: 100%;
    // }

    .homeCard {
      height: 100%;
      min-height: 320px;
      // flex: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }

      .headerWrapper {
        padding-left: 20px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        background: url(/SystemDashboard/Card_title_bg.png);
        background-size: 100% 100%;

        .title {
          color: #fff;
          font-weight: 500;
          width: calc(100% - 140px);
        }
      }

      .boxContent {
        padding: 0 16px;
        flex: 1;
        background: url(/SystemDashboard/Card_content_bg.png);
        background-size: 100% 100%;
      }
    }

    // 图表标题
    .echartsTitle {
      text-align: center;
      // margin-top: -40px;
      font-weight: bold;
      position: absolute;
      bottom: 20%;
      width: 100%;
      // font-size: 15px;
    }

    .leftWrapper {
      display: flex;
      flex-direction: column;
      height: calc(100%);
      gap: 8;

      & > div {
        flex: 1;
      }
    }

    .centerWrapper {
      display: flex;
      flex-direction: column;
      height: calc(100%);
      min-height: 996px;
      .mapWrapper {
        min-height: 640px;
        flex: 2;
        position: relative;
        background: '#0b172f';

        &.fullScreen {
          position: fixed;
          z-index: 1000;
          width: 100%;
          height: calc(100vh - 60px);
          left: 0;
        }

        .mapOperationBtn {
          position: absolute;
          top: 20px;
          right: 20px;
          width: 36px;
          background: #000000;
          display: flex;
          flex-direction: column;
          align-items: center;

          .btnItem {
            padding: 10px 0;
            border-bottom: 1px solid #1f2c4b;

            &:last-child {
              border: none;
            }
          }
          img {
            cursor: pointer;
          }
        }

        .infoWindowContent {
          border: 1px solid #007bfd;
          border-radius: 8px;
          .header {
            background: rgb(8, 99, 206, 0.4);
            padding-bottom: 0;
            height: 30px;
            line-height: 30px;
            padding-left: 10px;

            h2 {
              font-size: 14px;
              color: #52f2ff;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            button {
              width: 100%;
            }

            p {
              margin-top: 10px;

              span {
                font-weight: 500;
                color: #fe0301;
              }
            }
          }
          h3 {
            font-size: 13px;
            color: #fff;
            border-bottom: 1px solid #0a7bcb;
            width: 62px;
            padding: 0 3px;
            background: linear-gradient(0deg, rgba(5, 78, 146, 0.8), #0a2262);
          }
          .desc {
            padding: 10px;
            overflow: hidden;
            background: rgba(4, 45, 111, 0.6);
            display: flex;
            // & > div {
            //   width: 50%;
            //   float: left;
            // }

            .desc-l {
              width: 50%;
              display: inline-block;
              p {
                margin: 0;
                padding: 0;
                line-height: 26px;
                font-size: 13px;
                // color: #5d5d5d;

                span {
                  color: #70a7ff;
                  font-weight: bold;
                  padding-left: 10px;
                  position: relative;
                  i {
                    width: 6px;
                    height: 6px;
                    background: #0895d7;
                    border-radius: 50%;
                    position: absolute;
                    left: 0px;
                    top: 6px;
                  }
                }
              }
            }

            .desc-r {
              width: 50%;
              display: inline-block;
              /* width: 100px; */
              height: 100px;
              background: #ccc;

              img {
              }
            }
          }

          .tableList {
            background: rgba(4, 45, 111, 0.6);
            padding: 10px;

            ul {
              background: #002259;
              display: flex;
              text-align: center;
              height: 30px;
              line-height: 30px;

              &.title {
                background: #061f48;
                color: rgb(3, 170, 226);
                font-size: 13px;
              }
              li {
                flex: 1;
                font-size: 13px;
                font-weight: bold;
              }
            }
          }
        }

        //小圆点
        .circle {
          animation: pulse 2s infinite alternate; /* 光圈脉动动画 */
        }

        @keyframes pulse {
          0% {
            transform: scale(0.5);
            opacity: 0.2;
          }
          0% {
            transform: scale(0.8);
            opacity: 0.5;
          }
          100% {
            transform: scale(1);
            opacity: 1;
          }
        }

        .gobackBox {
          width: 60px;
          line-height: 29px;
          background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
          border: 1px solid #007bfd;
          position: absolute;
          right: 10px;
          top: 10px;
          color: #fff;
          text-align: center;
          font-weight: bold;
          cursor: pointer;
        }

        .titlePopSty {
          // white-space: break-word;
          white-space: nowrap;
          // color: rgb(56,168,212);
          color: #fff;
          background: rgb(23, 30, 70);
          margin-top: 5px;
          margin-left: calc(-50% - 0px);
          margin-right: calc(50% - 32px);
          text-align: center;
          padding: 2px 4px;
          border-radius: 2px;
          border: 1px solid rgba(56, 168, 212, 0.4);
        }

        .pointTitlePopSty {
          background: #000001;
          margin-left: calc(-50% - 0px);
          margin-right: calc(50% - 32px);
          border-radius: 1px;
          div {
            margin-left: 0;
            margin-right: 0;
          }
        }

        .titleInfoWindow {
          padding: 6px;
          background-color: #3c4860;
        }
        :global {
          .amap-info-content {
            position: relative;
            background: transparent;
            border-radius: 1px;
            padding: 0;
            .amap-info-close {
              display: none;
            }
          }
          .bottom-center .amap-info-sharp {
            //修改向下箭头的大小
            bottom: 2px;
            left: 50%;
            margin-left: -6px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #3c4860;
          }
        }

        .mapCountWrapper {
          margin-left: 20px;
          display: inline-block;
          &.fullScreen {
            width: 40vw;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            margin: 0 30vw;
          }
          & > div {
            display: inline-block;
            background: url(/ctHomeDataScreen/number_btn_bg.png) no-repeat;
            background-size: 100% 100%;
            width: 128px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            font-weight: bold;

            .title {
              color: #9bdef0;
              font-size: 16px;
              line-height: 30px;
              margin-top: 6px;
              margin-bottom: 5px;
            }
            .count {
              color: #00f1ff;
              font-size: 20px;
              line-height: 30px;
              margin-bottom: 4px;
            }
          }
        }

        .mapSearchWrapper {
          position: absolute;
          top: 10px;
          left: 20px;

          :global {
            .ant-radio-button-wrapper {
              // background-color: transparent;
              background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
              color: #fff;
              border-color: #007bfd;
              font-weight: bold;
            }
            .ant-radio-button-wrapper-checked {
              background-color: #007bfd;
              font-weight: bold;
            }

            .ant-picker {
              background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
              border-color: #007bfd;
              height: 26px;
              line-height: 26px;
              border-radius: 0;
            }

            .ant-picker-input > input {
              color: #d1d1d1;
              font-weight: bold;
            }

            .ant-picker-suffix {
              color: #007bfd;
            }
          }
          // 搜索企业
          .SelectWrapper {
            // position: absolute;
            // left: 20px;
            // top: 48px;
            :global {
              .ant-select:not(.ant-select-customize-input) .ant-select-selector {
                border-color: #007bfd;
                background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
                // background: rgba(10, 125, 254, 0.4);
                color: #fff;
                height: 26px;
                line-height: 26px;
                border-radius: 0;
              }

              .ant-select-single:not(.ant-select-customize-input)
                .ant-select-selector
                .ant-select-selection-search-input {
                height: 26px;
                line-height: 26px;
              }

              .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
                line-height: 24px;
                color: #70a7ff;
                font-weight: bold;
              }

              .ant-select-selection-item {
                font-weight: 500;
                line-height: 24px;
              }

              .ant-select-clear {
                background-color: transparent;
                color: #999;
              }

              .ant-select-arrow {
                color: #59deff;
                font-size: 10px;
                right: 6px;
              }
            }
          }
        }
        .goback {
          position: absolute;
          top: 20px;
          right: 76px;
          cursor: pointer;
        }

        .legend {
          position: absolute;
          bottom: 26px;
          right: 20px;
          border-radius: 2px;
          border: 1px solid #2a7aa9;
          // width: 100px;
          padding: 10px;
          background: #0d1e48;
          .legendItem {
            color: #fff;
            display: flex;
            font-weight: bold;
            align-items: center;
            height: 30px;
            padding: 0 10px;
            cursor: pointer;
            i {
              width: 16px;
              height: 10px;
              background: #2eeb9d;
              margin-right: 10px;
            }

            &.active {
              border: 1px solid #096dd9;
              color: #1890ff;
              padding: 0 10px;
            }
          }
        }
      }
    }

    .rightWrapper {
      display: flex;
      flex-direction: column;
      height: calc(100%);
      gap: 8;

      & > div {
        flex: 1;
      }
    }

    // 切换按钮
    .toggleRadio {
      // position: absolute;
      // right: 20px;
      // top: 10px;
      :global {
        // .ant-radio-button-wrapper {
        //   background: #021235;
        //   color: #70a7ff;
        //   border-color: #1a65e1;
        //   font-weight: bold;
        //   border-radius: 0;
        //   height: 26px;
        //   line-height: 24px;
        //   padding: 0 10px;
        // }
        // .ant-radio-button-wrapper-checked {
        //   background-color: #1d70f5;
        //   font-weight: bold;
        //   color: #fff;
        // }
        .ant-radio-button-wrapper:not(:first-child)::before {
          // background: #1a65e1;
        }
      }
      :global {
        .ant-radio-button-wrapper {
          height: 26px;
          line-height: 24px;
          padding: 0 14px;
          border-radius: 0;
          background-color: transparent;
          font-size: 13px;
          // background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
          color: #c3f0ff;
          border-color: #203e72;
          font-weight: bold;
        }
        .ant-radio-button-wrapper-checked {
          // background-color: #007bfd;
          background: linear-gradient(0deg, #0c4390, rgba(10, 124, 255, 0.1));
          border-color: #007bfd;
          font-weight: bold;
          color: #fff;
        }
      }
    }

    // 图表图例
    .chartLegendWrapper {
      // display: flex;
      // // justify-content: space-between;
      // height: 100%;
      padding: 10px 0;

      .lengendItem {
        display: flex;
        justify-content: space-around;
        line-height: 30px;
        height: 30px;
        width: 100%;
        padding: 2px 14px;
        font-weight: bold;
        margin-bottom: 4%;

        &:last-child {
          margin-bottom: 0;
        }
        .label {
          width: 120px;
          display: inline-block;
          display: flex;
          align-items: center;
          i {
            display: inline-block;
            width: 20px;
            height: 12px;
            border-radius: 2px;
            margin-right: 6px;
          }
          span {
            color: #a2e0ff;
            display: inline-block;
            flex: 1;
            // width: 100px;
          }
        }
        .value {
          width: 60px;
          font-weight: bold;
          font-size: 14px;
          color: #a2e0ff;
          display: inline-block;
          text-align: right;
        }
      }
    }

    //
    .statisticsNum {
      width: 100%;
      background: url(/ctHomeDataScreen/customer.png);
      background-size: 100% 100%;
      line-height: 46px;
      height: 46px;
      padding: 0 20px;
      margin-top: 10px;
      .text {
        margin-left: 40px;
        font-weight: 500;
      }

      .number {
        font-family: 'YouSheBiaoTiHei';
        float: right;
        background: linear-gradient(to top, #1ca1ff, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 18px;
      }
    }

    // 监控总览
    .MonitoringOverview {
      padding: 0 !important;
      .pointClassifyItem {
        height: 33.33333% !important;

        img {
          width: 60px !important;
          height: 52px !important;
        }
      }
    }

    // 有效传输率
    .EffectiveRateWrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      .rateContent {
        height: 90px;
        background: url(/SystemDashboard/EffectiveRate_bg.png);
        background-size: 100% 100%;
        padding: 20px;
        font-weight: bold;
        margin-top: 10px;

        .title {
          font-size: 15px;
        }
      }
    }

    // 监控 - 异常报警分析
    .AbnormalAlarmWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      padding: 20px 0;
      .legendInfo {
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 6px;
        position: relative;

        .title {
          font-weight: bold;
          margin-bottom: 1px;
          font-size: 15px;
          color: #75d1ff;
          margin-bottom: 6px;
        }

        .content {
          border: 1px solid #0069ac;
          box-shadow: 0 0 10px #0069ac inset;
          padding: 4px;
          display: flex;
          :global {
            .ant-progress-steps-item {
              width: calc((100% - 80px) / 40) !important;
              // margin-right: 4px;
            }
          }
        }
        .num {
          position: absolute;
          top: -3px;
          right: 0;
          color: #18FDFE;
          font-size: 15px;
        }
      }
    }

    // 成套总览
    .CTOverviewCard {
      width: 100%;
      height: 100%;
      padding: 8px 2px;

      .pointClassifyContent {
        height: calc(100% - 80px);
        width: 100%;
        .pointClassifyItem {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 50%;

          img {
            width: 67px;
            height: 61px;
          }
          .numberContent {
            display: inline-block;

            .num {
              font-family: PangMenZhengDao;
              font-weight: 500;
              font-size: 22px;
              color: #ffffff;
              line-height: 28px;
            }
            .text {
              font-family: Microsoft YaHei;
              font-weight: 500;
              font-size: 14px;
              color: #eff0f1;
              line-height: 27px;
            }
          }
        }
      }
    }

    // 运维、模型设备运维总览
    .DeviceInfoCountWrapper {
      height: 100%;
      cursor: pointer;
      .pointCount {
        img {
          margin-top: -20px;
          width: 100%;
        }
        .pointNum {
          font-family: PangMenZhengDao;
          font-weight: 500;
          font-size: 28px;
          color: #c3f0ff;
          // text-shadow: 2px 2px 0px #004682;
          background: linear-gradient(0deg, #7cd8fe 0%, #0faeff 99.6337890625%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .unit {
          font-size: 12px;
          color: #c3f0ff;
          font-weight: bold;
        }

        .text {
          font-size: 16px;
          color: #c3f0ff;
          font-weight: bold;
          position: absolute;
          bottom: 16px;
        }
      }

      .pointClassify {
        padding: 20px 0;
        padding-left: 20px;
        ul {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          width: 100%;
          height: 100%;
          background: url(/SystemDashboard/Operation/pointNum_bg2.png) no-repeat;
          background-size: 100% 100%;
          padding: 10px 0;
          li {
            background: rgba(31, 110, 192, 0.3);
            height: 60px;
            width: 100%;
            display: flex;
            align-items: center;

            img {
              padding: 10px;
              width: 65px;
            }

            .text {
              font-weight: 500;
              font-size: 14px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: calc(100% - 65px - 80px);
              // margin-left: 4px;
            }
            & > div {
              width: 80px;
              text-align: right;
            }
            .num {
              font-family: PangMenZhengDao;
              font-weight: bold;
              font-size: 22px;
            }
            .unit {
              font-size: 12px;
              color: #c7ebff;
              margin-left: 4px;
            }
          }
        }
      }
    }

    // 服务响应及时率
    .ServiceResponseRateWrapper {
      display: flex;
      flex-direction: row;
      align-items: end;
      position: relative;
      .center {
        flex-direction: column;
      }
      & > div {
        background: url(/ctHomeDataScreen/ServiceResponseRate_2.png) no-repeat;
        background-size: 100%;
        text-align: center;
        .count {
          font-family: 'YouSheBiaoTiHei';
          font-size: 24px;
          margin-top: -6px;

          span {
            font-size: 16px;
          }
        }

        .text {
          font-size: 13px;
          margin-top: -6px;
        }
      }
    }

    // 客户满意度
    .CustomerSatisfactionWrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    // 售后服务情况
    .AfterSaleServiceWrapper {
      padding: 10px 0;
      height: 100%;
      // display: flex;
      .title {
        background: url(/ctHomeDataScreen/title2_bg.png) no-repeat;
        background-size: contain;
        background-position: center;
        width: 168px;
        height: 24px;
        margin: 10px 0;
        padding-left: 25px;
        font-size: 15px;
      }

      .listWrapper {
        // padding: 0 20px;
        // height: calc(100% - 24px - 20px);
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-top: 10px;
        .header {
          background: rgba(16, 41, 81, 0.6);
          color: #03aae2;
          line-height: 38px;
          text-align: center;
          font-weight: 500;
        }

        .listContent {
          height: calc(100% - 48px);
          overflow: hidden;
        }
        .listItem {
          line-height: 38px;
          text-align: center;
          font-weight: 500;
          background-color: rgba(16, 41, 81, 0.3);
          &:nth-child(2n) {
            background-color: #0e214d;
          }

          & > div {
            &:first-child {
              width: 32%;
              // text-align: left;
            }
            width: 17%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }

    .RankingSeamlessScrollContent {
      min-height: 100%;
    }
    // 异常行为分析
    .BehaviorAnalysisWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      padding: 0 10px;
      padding-top: 20px;
      position: relative;

      .legendInfo {
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 6px;

        .content {
          position: relative;
          :global {
            .ant-progress-steps-item {
              width: calc((100% - 260px) / 50) !important;
              margin-right: 4px;
            }
          }

          .num {
            position: absolute;
            top: -3px;
            right: 0;
            color: #fff;
            font-size: 15px;
          }
        }
      }
    }
  }

  //监督核查总览
  .SupervisionVerificaOverviewCard {
    width: 100%;
    height: 100%;
    background: url(/SystemDashboard/SupervisionVerifica/zl_bg.png) no-repeat;
    background-size: 100% 100%;
  }
}
.SupervisionVerificaRecordModal {
  :global {
    .ant-tabs > .ant-tabs-nav,
    .ant-tabs > div > .ant-tabs-nav {
      padding-top: 16px;
    }
    .ant-tabs-tabpane {
      padding-left: 0 !important;
    }
    .ant-pro-page-header-wrap-children-content {
      margin: 8px 0 0 0;
    }
  }
}

.popupStyle {
  // background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
  background: rgba(10, 125, 254, 0.4);
  font-weight: 500;
  :global {
    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background-color: #136fd1;
    }
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      background-color: #007bfd;
    }

    .ant-select-item {
      color: #fff;
    }
  }
}

.datePickerPopup {
  // background: linear-gradient(0deg, rgba(10, 125, 254, 0.4), rgba(10, 124, 255, 0));
  border: 1px solid rgb(0, 123, 253);
  border-bottom: 0;

  :global {
    .ant-picker-panel-container {
      background: rgb(9, 47, 97, 0.8);
    }

    .ant-picker-panel {
      border-color: rgb(0, 123, 253);
    }

    .ant-picker-header {
      color: #fff;
      font-weight: bold;
      border-color: rgb(0, 123, 253);
    }

    .ant-picker-header button {
      color: #fff;
    }

    .ant-picker-header-view {
      font-weight: bold;
    }

    .ant-picker-content td {
      color: #fff;
      font-weight: bold;
    }
    .ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
    .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end)
      .ant-picker-cell-inner {
      background: #136fd1;
    }
  }
}
