
    .supervisionManagerSty {
     .ant-advanced-search-form  :global{
      .ant-form-item{
        margin-bottom: 8px;
       }
        .ant-form-item-label{
          min-width: 84px;
       }

    }
}


    .fromModal  :global {
      .ant-modal-body{
        padding: 10px  70px 10px  90px;
        height: calc(100vh - 250px);
        overflow-y: auto;
      }

      .ant-form-item{
        margin-bottom: 8px;
      }
      .ant-form-item-control-input,.ant-spin-spinning{
        width:calc(100% - 80px - 20px) !important;
      }
      .ant-input,.ant-select,.ant-picker,.ant-input-number,.ant-input-affix-wrapper,.ant-cascader-picker{
        // width: 100% !important;
        width:calc(100% - 80px - 20px) !important;
      }
      .ant-input{
        width: 100% !important;
      }
      .essentialInfoSty { //基本信息
        .ant-form-item-label{
          width: 80px;
       }

      }

      .deviceInfoSty{
        .ant-form-item-label{
          width: 175px;
       }
       .waterDeviceInfo  { //废水
        .ant-form-item-label{
          width: 80px;
        }
      }
      }
        .ant-popover{ //气态生产商 气泡框
          .ant-pagination-options-size-changer.ant-select{
            width: auto !important;
           }
           .ant-form-item-control-input,.ant-spin-spinning{
            width:150px !important;
          }
          .ant-input,.ant-select,.ant-picker,.ant-input-number,.ant-input-affix-wrapper{
            width:150px !important;
          }
          .ant-form-item{
            margin-bottom: 10px;
          }
        }

   
        .supervisionContentSty, .supervisionDetailSty{
          .ant-form-item-control-input,.ant-spin-spinning{
            width:100% !important;
          }
          .ant-input,.ant-select,.ant-picker,.ant-input-number,.ant-input-affix-wrapper,.ant-upload {
            width:100% !important;
          }
          .ant-form-item{
            margin-bottom: 0;
          }
          .ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder{
            text-align: left;
          }
          .summaryTableSty{
            .ant-table-thead{
              display: none;
            }
          }
          .emptyTableSty {
            .ant-table-tbody {
              height: 100px;
           }
          }
          .impTableSty,.commonlyTableSty,.summaryTableSty{
            .ant-table.ant-table-bordered > .ant-table-container{
              border-top: 0;
            } 
          }
          .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
            padding: 4px 16px;
          }

        }

    } 

