


   :global {
    .entList .ant-list-items{
      height: calc(100vh - 200px);
      overflow-y: auto;
    }
    .listContent span{
        color: #999;
        display: inline-block;
        padding-top: 6px;
      }
    .entInfoDetail .ant-upload-list-picture-card .ant-upload-list-item{
      width: 200px;
      height: 200px;
     }
     .entInfoDetail .ant-upload-list-picture-card-container{
      width: 200px;
      height: 200px;
     }
     .ant-list-pagination{
       text-align: left;
     }
     .ant-btn-primary{
       background-color: #3888ff;
     }
 }
 .site-search-value{
    color:#f50; 
 }
 .itemContent{
   color: #333 !important;
 }
 .titleHover>div:hover{
   font-size: 18px;
   transition: all .3s;
   text-decoration: underline;
 }
 .titleHover>div:hover div{
  text-decoration: underline;
}