@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
   overflow-y: hidden;
}

// a:visited {
//   color: rgba(0, 0, 0, 0.45) !important;
// }

.clickRowStyl {
  background-color: #a3ccfd
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.sdlTable {
  .ant-table-body {
    min-height: 200px;
  }
}

:global {
  .react-resizable {
    position: relative;
    background-clip: padding-box;
  }

  .react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    bottom: 0;
    right: -5px;
    cursor: col-resize;
    z-index: 1;
  }


  .ant-layout {
    .ant-pro-basicLayout-content {
      margin-bottom: 0;
      // margin: 8px;
      // padding-top: 64px;
    }

    .ant-pro-page-header-wrap-children-content {
      margin: 14px 10px 0;
    }


    // table没有数据时，隐藏表头滚动条
    .ant-table-empty .ant-table-body {
      overflow-x: hidden !important;
      overflow-y: hidden !important;
    }
  }

  #root .ant-tabs.ant-tabs-card .ant-tabs-card-content>.ant-tabs-tabpane,
  .ant-tabs.ant-tabs-editable-card .ant-tabs-card-content>.ant-tabs-tabpane {
    transition: opacity 0.45s !important;
  }
}

a:hover {
  text-decoration: none !important;
}

.contentContainer {
  height: calc(100vh - 170px);
  overflow-y: auto;
}

.center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

/*滚动条轨道颜色*/
@scrollbar-track-color: #ececec;
/*滚动条颜色*/
@scrollbar-thumb-color: #d6d4d4;
/*滚动条大小*/
@scrollbar-width: 9px;

.fixedHeader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  transition: width 0.2s;
}


::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
}

::-webkit-scrollbar {
  width: @scrollbar-width;
  height: @scrollbar-width;
}

::-webkit-scrollbar-track {

  border-radius: 10px;
  background-color: @scrollbar-track-color;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: @scrollbar-thumb-color;
  -webkit-border-radius: 4px;
  outline-offset: -2px;
  border: 2px solid @scrollbar-thumb-color;
}

::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: @scrollbar-thumb-color;
  -webkit-border-radius: 4px;
}


.light {
  background-color: #f0f2f5
}

#contentWrapper {
  width: calc(100% -400px);
  // margin-left: 400px;
}

:global {

  // 菜单选中样式
  .ant-menu-dark .ant-menu-item:hover,
  .ant-menu-dark .ant-menu-item-active,
  .ant-menu-dark .ant-menu-submenu-active,
  .ant-menu-dark .ant-menu-submenu-open,
  .ant-menu-dark .ant-menu-submenu-title:hover {
    font-weight: 900;
    // border-bottom: 2px solid #1890FF;
  }

  .ant-menu-dark .ant-menu-submenu-selected {
    background-color: transparent;
    /* background-color: white; */
    font-weight: 900;
    color: #1890FF !important;
    border-bottom: 2px solid #1890FF !important;
  }

  // 地图气泡样式
  .amap-logo {
    display: none !important;
  }

  .amap-copyright {
    display: none !important;
  }

  .amap-info .amap_markers_pop_window {
    padding: 4px 6px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    top: 6px;

    ::after {
      display: none
    }

    ::before {
      display: none
    }
  }

  .amap-info .amap_markers_pop_window::before,
  .amap-info .amap_markers_pop_window::after {
    display: none
  }
}

// 车辆轨迹样式
.markerContent {
  background: #fff;
  position: absolute;
  top: -100px;
  left: -20px;
  border-radius: 5px;
  padding: 8px;
  width: 180px;
  height: 90px;
  border: 1px solid #8c8c8c;
  color: rgba(0, 0, 0, 0.8);
}

#root .cascader_multiple {
  &:focus {
    border-color: transparent;
    box-shadow: none;
  }
}

#sideMenuTabsLayout {
  margin: -24px -24px 0px;
  padding: 10px;

  .ant-tabs-card-content {
    height: calc(100vh - 128px);
    // background: #fff;
    overflow-y: auto;

    .ant-tabs-tabpane-active {
      .ant-card, .contentContainer {
      // .ant-card-body {
        height: calc(100vh - 128px);
        
        .ant-card-grid {
          box-shadow: none;
          height: auto;
        }
      }
    }
  }
}

#sideMenuLayout {
  .ant-pro-page-header-wrap-children-content {
    height: calc(100vh - 170px);
    background: #fff;
    overflow-y: auto;

    .ant-card-body {
      box-shadow: none;
      border: none;
    }
  }
}
