@import '~antd/es/style/themes/default.less';
// @import '~antd/lib/style/themes/default.less';
// @import '~antd/dist/antd.less'; // 引入官方提供的 less 样式入口文件
// @import './your-theme-file.less';
@contentMargin: 20px; // 内容区域左右边距

// .dark(@isdark) when (@isdark = true) {
//   @import '~antd/dist/antd.dark.less';
//   @import './dark.less';
// }

html#darkHtml {
  @import '~antd/dist/antd.dark.less';
  @import './dark.less';
  // @import './your-theme-file.less';

  p {
    margin: 0;
  }
}

html,
body,
#root {
  height: 100%;
  overflow-y: hidden;

  // @import '~antd/dist/antd.dark.less';
  input {
    // line-height: 1 !important;
  }


}

// a:visited {
//   color: rgba(0, 0, 0, 0.45) !important;
// }

.clickRowStyl {
  background-color: #a3ccfd
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  p {
    margin: 0;
    padding: 0;
  }
}

ul,
ol,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}



.sdlTable {
  .ant-table-body {
    // min-height: 100px;
  }
}

:global {

  // 面包屑 -- start
  .ant-pro-page-header-wrap-page-header-warp {
    background-color: transparent;
    line-height: 46px;
    // margin-left: @contentMargin;
  }

  .ant-breadcrumb {
    display: inline-block;

    a {
      color: #666;
    }
  }

  // 面包屑 -- end

  // 内容区域样式
  .ant-pro-page-header-wrap-children-content {
    margin: 0 @contentMargin;
  }

  .ant-modal-wrap {
    input {
      line-height: 1;
    }
  }

  .ant-table-fixed {
    table-layout: fixed; //防止单元格和表头对不齐的样式 3.24.0之前的版本都需要
  }

  .ant-table-tbody>tr>td {
    //防止单元格和表头对不齐的样式 3.24.0之前的版本都需要
    word-wrap: break-word;
    word-break: break-all;
  }

  .react-resizable {
    position: relative;
    background-clip: padding-box;
  }

  .react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    bottom: 0;
    right: -5px;
    cursor: col-resize;
    z-index: 1;
  }


  .ant-layout {
    .ant-pro-fixed-header {
      // z-index: 1051 !important;
    }

    .ant-pro-basicLayout-content {
      margin-bottom: 0;
      // margin: 8px;
      // padding-top: 64px;
    }

    // table没有数据时，隐藏表头滚动条
    .ant-table-empty .ant-table-body {
      overflow-x: hidden !important;
      overflow-y: hidden !important;
    }

    // .ant-card-body{
    //   padding-bottom: 0;
    // }
    .ant-table-pagination.ant-pagination {
      margin-bottom: 0;
    }

    // 菜单
    .ant-pro-fixed-header.ant-layout-header {
      // z-index: 9999 !important;
    }
  }

  #root .ant-tabs.ant-tabs-card .ant-tabs-card-content>.ant-tabs-tabpane,
  .ant-tabs.ant-tabs-editable-card .ant-tabs-card-content>.ant-tabs-tabpane {
    transition: opacity 0.45s !important;
  }

  .ant-pro-sider-menu-logo+.ant-menu-light {
    height: calc(100vh - 64px);
    overflow: hidden;
    overflow-y: auto;
  }

  .ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
  .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td,
  .ant-table-thead>tr:hover:not(.ant-table-expanded-row)>td,
  .ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
    background: #e6f7ff;
  }

  #zeroPointData,
  #standardData,
  #paramData,
  #historyparData,
  #qualityProgram,
  #working {
    .ant-pro-grid-content {
      padding-left: 320px;
    }

  }
}

a:hover {
  text-decoration: none !important;
}

// .contentContainer {
//   height: calc(100vh - 170px);
//   overflow-y: auto;
// }

.center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

/*滚动条轨道颜色*/
@scrollbar-track-color: #ececec;
/*滚动条颜色*/
@scrollbar-thumb-color: #d6d4d4;
/*滚动条大小*/
@scrollbar-width: 6px;

.fixedHeader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  transition: width 0.2s;
}


::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
}

::-webkit-scrollbar {
  width: @scrollbar-width;
  height: @scrollbar-width;
}

::-webkit-scrollbar-track {

  border-radius: 10px;
  background-color: @scrollbar-track-color;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: @scrollbar-thumb-color;
  -webkit-border-radius: 4px;
  outline-offset: -2px;
  border: 2px solid @scrollbar-thumb-color;
}

::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: @scrollbar-thumb-color;
  -webkit-border-radius: 4px;
}


.light {
  background-color: #f0f2f5
}

#contentWrapper {
  width: calc(100% - 324px);
  // margin-left: 400px;
}

:global {

  // button - loading
  .ant-btn>.ant-btn-loading-icon .anticon {
    margin-right: 8px;
    padding-right: 0;
  }

  // formItem 样式
  .ant-legacy-form-item {
    margin-bottom: 8px;
  }

  // .ant-select-selection--multiple,
  // .ant-select-selector {
  //   height: 32px;
  //   overflow: hidden;
  //   margin-bottom: -10px
  // }

  // 隐藏系统默认菜单
  .ant-pro-top-nav-header-main .ant-pro-top-nav-header-menu .ant-menu {
    display: none;
  }

  // table 表格
  .ant-table-tbody {
    font-size: 13px !important;
  }

  .ant-table.ant-table-middle .ant-table-title,
  .ant-table.ant-table-middle .ant-table-footer,
  .ant-table.ant-table-middle .ant-table-thead>tr>th,
  .ant-table.ant-table-middle .ant-table-tbody>tr>td,
  .ant-table.ant-table-middle tfoot>tr>th,
  .ant-table.ant-table-middle tfoot>tr>td {
    padding: 8px;
  }

  .react-resizable {
    position: relative;
    background-clip: padding-box;
  }

  .react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    bottom: 0;
    right: -5px;
    cursor: col-resize;
    z-index: 1;
  }


  // 菜单选中样式

  .ant-menu-item .anticon+span,
  .ant-menu-submenu-title .anticon+span {
    font-weight: 500;
  }

  .ant-menu-dark .ant-menu-item:hover,
  .ant-menu-dark .ant-menu-item-active,
  .ant-menu-dark .ant-menu-submenu-active,
  .ant-menu-dark .ant-menu-submenu-open,
  .ant-menu-dark .ant-menu-submenu-title:hover {
    font-weight: 900;
    // border-bottom: 2px solid #1890FF;
  }


  .ant-menu-dark .ant-menu-submenu-selected {
    background-color: transparent;
    /* background-color: white; */
    font-weight: 900;
    color: #1890FF !important;
    border-bottom: 2px solid #1890FF !important;
  }

  // 地图气泡样式
  .amap-logo {
    display: none !important;
  }

  .amap-copyright {
    display: none !important;
  }

  .amap-info .amap_markers_pop_window {
    padding: 4px 6px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    top: 6px;

    ::after {
      display: none
    }

    ::before {
      display: none
    }
  }

  .amap-info .amap_markers_pop_window::before,
  .amap-info .amap_markers_pop_window::after {
    display: none
  }


  .ant-layout {

    // 面包屑样式 - start
    .ant-page-header {
      padding: 11px 20px;
      min-height: 44px;
      background-color: transparent;

      .ant-page-header-heading {
        float: left;
        margin-top: -4px;
        margin-right: 6px;
        margin-left: 6px;
      }
    }

    .ant-breadcrumb {
      display: inline-block;
    }

    .ant-page-header .ant-breadcrumb {
      margin-top: 2px;
    }

    .ant-breadcrumb-separator {
      margin: 0 4px;
    }

    // 面包屑样式 - end

    // tab标签样式
    .ant-tabs-extra-content {
      line-height: 34px;
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
      height: 34px;
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
      height: 34px;
      margin: 0;
      margin-right: 1px;
      line-height: 34px;
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
      height: 33px;
      color: #2F54EB;
      background: #fff;
      border-color: #e8e8e8;
      border-bottom: 1px solid #fff;
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab .ant-tabs-close-x {
      width: 16px;
      height: 14px;
      margin-right: -5px;
      // margin-top: 2px;
    }
  }
}

.mapInput {
  &>.ant-input:not(:last-child) {
    padding-right: 50px;
  }
}

// 车辆轨迹样式
.markerContent {
  background: #fff;
  position: absolute;
  top: -100px;
  left: -20px;
  border-radius: 5px;
  padding: 8px;
  width: 180px;
  height: 90px;
  border: 1px solid #8c8c8c;
  color: rgba(0, 0, 0, 0.8);
}

#root .cascader_multiple {
  &:focus {
    border-color: transparent;
    box-shadow: none;
  }
}

#root>div {
  height: 100%;
}

// .notAdaptive {
//   .ant-card-body {
//     padding-bottom: 0 !important;
//     margin-bottom: 10px;
//   }
// }

// #sideMenuTabsLayout {
//   margin: -24px -24px 0px;
//   padding: 10px;

//   .ant-card-body {
//     padding-bottom: 10px;
//   }

//   .ant-card-bordered:first-child {
//     box-shadow: none;
//     border: none;
//     padding-bottom: 0;
//   }

//   .ant-tabs-card-content {
//     height: calc(100vh - 116px);

//     .ant-tabs-tabpane-active {

//       .ant-card:not(.notAdaptive):not(.antd-pro-pages-monitoring-realtimedata-components-process-flow-chart-maincard):not(.ant-card-type-inner),
//       .contentContainer {
//         height: calc(100vh - 116px);
//         overflow-y: auto;
//         overflow-x: hidden;

//         .ant-card-grid {
//           box-shadow: none;
//           height: auto;
//           padding-bottom: 0;
//         }
//       }
//     }
//   }
// }

#basicLayout,
#notBreadcrumbLayout {
  .ant-pro-page-header-wrap-children-content {
    height: calc(100vh - 126px);
    background-color: #fff;
    overflow-y: auto;

    .ant-card-body,
    .ant-card-bordered {
      box-shadow: none;
      border: none;
      padding-bottom: 0;
      padding-top: 10px;
    }
  }

  .contentContainer {
    height: calc(100vh - 126px);
  }
}

#basicLayout {
  #autoHeight {
    .ant-pro-page-header-wrap-children-content {
      overflow-x: hidden;
      // height: auto;
      background-color: transparent;
      padding-bottom: 20px;
    }
  }

  // #bgWrapper_transparent {
  //   overflow-x: hidden;
  //   background-color: transparent;
  // }
}

#notBreadcrumbLayout {
  .ant-pro-page-header-wrap-children-content {
    height: calc(100vh - 82px);
  }

  .contentContainer {
    height: calc(100vh - 82px);
  }

  .hideBreadcrumb {
    display: none;
  }
}

.qualitySee .pg-viewer-wrapper .document-container {
  width: 100%;
}

.qualitySee #docx {
  height: calc(100vh - 270px) !important;
}

.notBorder {
  .ant-table-small {
    border: 0;

  }

  .ant-table-header {
    background-color: #f0f2f5
  }
}

.textOverflow {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.colCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

// .ontEntDetailPhoto{
//   :global {
//     .ant-upload-list-picture-card .ant-upload-list-item-thumbnail, .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img{
//       object-fit: fill;
//     }
//   }
// }
:global {

  .ant-upload-list-picture-card .ant-upload-list-item-thumbnail,
  .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
    object-fit: fill;
  }
}

.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  // background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.notData {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}


.home-dark-theme {
  // 亮色主题颜色全局变量
  --page-bg-img: url('/home/bg.jpg');
  --header-title-bg-img: url(/home/header_bg.png);
  --header-bg-img: transparent;
  --back-img: url(/home/back.png);
  --back-color: #67d7fd;
  --box-border: 1px solid #2F4F60;
  --box-bg-color: rgba(2, 21, 51, 0.47);
  --box-box-shadow: 0px 0px 14px 1px rgba(23, 60, 144, 0.29);
  --box-after: url(/home/lt.png) no-repeat;
  --box-before: url(/home/rt.png) no-repeat;
  --box-lb: url(/home/lb.png) no-repeat;
  --box-rb: url(/home/rb.png) no-repeat;
  --title-color: #e5e9f3;
  --operations-font-color: #ADCEEC;
  --progressInfo-font-color: #ADCEEC;
  --echartsTitle-color: #fff;
  --line-border-color: #354B57;
  --marquee-font-color: #d5d9e2;
  --marquee-font-hover-color: #fff;
  --scrollbar-track-color: #021e39;
  --scrollbar-thumb-color: #305090;
}


.home-light-theme {
  // 暗色主题颜色全局变量
  --page-bg-img: #f0f2f5;
  --header-title-bg-img: url(/home/light/header_bg.png);
  --header-bg-img: url(/home/light/header_bg_img.png);
  --back-img: url(/home/light/back.png);
  --back-color: #fff;
  --box-border: none;
  --box-bg-color: #ffffff;
  --box-box-shadow: 2px 3px 5px 0px rgba(69, 69, 69, 0.09);
  --box-after: none;
  --box-before: none;
  --box-lb: none;
  --box-rb: none;
  --title-color: #333;
  --operations-font-color: #333;
  --progressInfo-font-color: #666;
  --echartsTitle-color: #333;
  --line-border-color: #d4d3d3;
  --marquee-font-color: #666;
  --marquee-font-hover-color: #000;
  --scrollbar-track-color: #CACDD1;
  --scrollbar-thumb-color: #D6D4D4;
}
