.categorySty,.telSty{
  :global{
    .ant-card-head-title{
        padding:0;
    }

  }
}
.categoryModalSty :global{
    .ant-modal-body{
       padding:24px 10%;
    }

    .ant-input-number{
        width: 100%;
     }
      .ant-form-item-label{
        width: 108px;
      }
      .ant-form-item{
        margin-bottom: 24px;
      }
}
.telModalSty :global{
  .ant-modal-body{
     padding:24px;
  }
    .ant-form-item{
      margin-bottom: 24px;
    }
}
.temTabele :global{
  .ant-table-tbody .ant-checkbox-inner::after{
    // left:18%;
  }
}
.addEditTable  :global{
  .ant-form-item-explain.ant-form-item-explain-error {
    color: #ff4d4f;
    right: 30px;
    top: 5px;
    font-size: 14px;
  }
}
.detailModal :global{
  .ant-modal-content{
   overflow-y: hidden;
  }
}
