:global {
  .ant-pro-top-nav-header-left {
    width: 310px;
  }
  .ant-pro-top-nav-header-logo {
    // max-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;

    a {
      width: calc(100% - 60px);
    }
  }
  .ant-pro-top-nav-header-logo h1 {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 4px;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // text-align: center;
  }

  // .ant-pro-top-nav-header-logo a {
  //   display: flex;
  //   align-items: center;
  // }
}
.layoutSty{
  overflow: hidden;
  width: 212px;
  .ant-pro-top-nav-header-logo a {
    display: flex;
    align-items: center;
  }
  h1{
    animation: scroll-left 24s linear infinite;
  }
}
.layoutSty2{
  overflow: hidden;
  width: 162px;
  h1{
  animation: scroll-left2 24s linear infinite;
  }
}
@keyframes scroll-left {
  0%{
    transform: translateX(212px);
  }
  100%{
    transform: translatex(-100%);
  }
}
@keyframes scroll-left2 {
  0%{
    transform: translateX(162px);
  }
  100%{
    transform: translatex(-100%);
  }
}
