
    .projectManagerSty {

     .ant-advanced-search-form  :global{
     .ant-form-item-label{
       min-width:100px;
    }
    .ant-form-item{
        margin-bottom: 20px;
    }
    .ant-col-8:nth-child(3n-1){
        padding: 0 2%;
    }
   }

   
}
